<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    {{ template "chrome/meta.html" . }}
    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ template "chrome/styles.html" . }}
  </head>
  <body lang="en">
    {{ template "chrome/top-bar.html" . }}
    <section class="page-content container">

