<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Dana Woodman's home on the Internet">
<meta property="og:title" content="{{ .Title }} - Dana Woodman">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
<meta property="article:modified_time" content="{{ .Date.Format "2006-01-02" }}">
