
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h1 class="logo">
          <a href="/">
            Dana Woodman
            <a href="https://github.com/danawoodman" class="pull-right"><i class="fa fa-github"></i></a>
          </a>
        </h1>
        <p class="lead">
          I'm a  <a href="https://github.com/danawoodman">software developer</a>, 
          <a href="http://chimeraarts.org">community builder</a> and 
          entrepreneur.
          I've been writing software for the web since 2002. 
          I hail from beautiful <a href="http://en.wikipedia.org/wiki/Sonoma_county">Sonoma County</a>. <a href="/about/">Learn more.</a>
        </p>
      </div>
      <div class="col-xs-4">
        <a href="/"><img src="/static/img/dana-woodman.jpg" class="avatar"></a>
      </div>
  </div>
</header>
